.section1 {
    width: 1120px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    margin-top: 24px;
}

.card1 {
    width: 548px;
    height: 664px;
    background-image: url(../pictures/Paste\ image.png);
    padding-top: 48px;
    padding-left: 48px;

    h3 {
        width: 360px;
        height: 38px;
        padding-left: 30px;
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
        font-family: "Poppins", sans-serif;
    }

    a {
        width: 100px;
        height: 28px;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;
        color: #141718;
        padding-left: 30px;
    }
}

.card2 {
    padding-left: 48px;
    padding-top: 220px;
    width: 548px;
    height: 319px;
    background-image: url(../pictures/Paste\ image1.png);

    h3 {
        width: 360px;
        height: 38px;
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
        font-family: "Poppins", sans-serif;
    }

    a {
        width: 100px;
        height: 28px;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;
        color: #141718;
    }
}

.card3 {
    margin-top: 24px;
    padding-left: 48px;
    padding-top: 48px;
    width: 548px;
    height: 319px;
    background-image: url(../pictures/Card.png);

    h3 {
        width: 360px;
        height: 38px;
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: -0.6000000238418579px;
        text-align: left;
        font-family: "Poppins", sans-serif;
    }

    a {
        width: 100px;
        height: 28px;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.4000000059604645px;
        text-align: left;
        color: #141718;
    }
}

@media screen and (max-width:760px) {
    .section1 {
        width: 740px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 24px;
        margin-top: 100px;
    }
    
    .card1 {
        width: 578px;
        height: 664px;
        background-image: url(../pictures/Paste\ image.png);
        padding-top: 48px;
        padding-left: 48px;
    
        h3 {
            width: 578px;
            height: 38px;
            padding-left: 30px;
            font-size: 34px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: -0.6000000238418579px;
            text-align: left;
            font-family: "Poppins", sans-serif;
        }
    
        a {
            width: 578px;
            height: 28px;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.4000000059604645px;
            text-align: left;
            color: #141718;
        }
    }
    
    .card2 {
        padding-left: 68px;
        padding-top: 220px;
        width: 548px;
        height: 319px;
        background-image: url(../pictures/Paste\ image1.png);
    
        h3 {
            width: 360px;
            height: 38px;
    
            font-size: 34px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: -0.6000000238418579px;
            text-align: left;
            font-family: "Poppins", sans-serif;
        }
    
        a {
            width: 100px;
            height: 28px;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.4000000059604645px;
            text-align: left;
            color: #141718;
        }
    }
    
    .card3 {
        margin-top: 24px;
        padding-left: 48px;
        padding-top: 48px;
        width: 548px;
        height: 319px;
        background-image: url(../pictures/Card.png);
    
        h3 {
            width: 360px;
            height: 38px;
    
            font-size: 34px;
            font-weight: 500;
            line-height: 38px;
            letter-spacing: -0.6000000238418579px;
            text-align: left;
            font-family: "Poppins", sans-serif;
        }
    
        a {
            width: 100px;
            height: 28px;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.4000000059604645px;
            text-align: left;
            color: #141718;
        }
    }
    
}