@import "./header";
@import "./hero_section";
@import "./section1";
@import "./section2";

@import "./base";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-inline: 20px;
}